<div class="container">
<h1 class="text-center">Restaurants</h1>
<ul class="text-center">
  <% @restaurants.each do |restaurant| %>
  <li class="restaurant-name"> <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
  <br>
  <%= link_to 'Create a restaurant', new_restaurant_path, class: "btn btn-primary"%>
</ul>
</div>
